* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(2, 13, 25, 0.25);
}
#resume {
  max-width: 768px;
  margin: auto;
  background-color: white;
  color: #020d19;
  border: 1px solid #020d19;
  border-radius: 10px;
  box-shadow: 5px 5px 25px #020d19;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
  "top-left right"
  "left right";
  overflow: hidden;
}
#top-left {
  grid-area: top-left;
  background-image: url(top-left-bg.jpeg);
  background-size: 100% 100%;
}
#picture {
  position: relative;
  top: 50%;
  margin: auto;
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
  border: 5px solid gold;
  overflow: hidden;
}
#picture img {
  width: 105%;
  height: 105%;
}
.left, .right {
  width: 80%;
  text-align: left;
  font-size: 14px;
  margin: 25px auto;
}
.header {
  position: relative;
  width: fit-content;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 600;
  color: gold;
  font-family: "Orbitron", sans-serif;
}
.header::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
}
.left .header::before {
  background: linear-gradient(to right, gold, rgba(0, 0, 0, 0));
}
.info {
  margin-bottom: 5px;
  list-style-type: square;
}
li {
  margin-left: 30px;
}
.label {
  font-weight: 600;
}
.right {
  margin-top: 50px;
}
.right .header{
  color: #020d19;
}
.right .header::before {
  background: linear-gradient(to right, #0d0219, rgba(0, 0, 0, 0));
}
#left {
  grid-area: left;
  text-align: center;
  background-color: #0d0219;
  color: white;
  border-bottom-left-radius: 8px;
}
#name {
  font-size: 20px;
  margin-top: 100px;
  color: gold;
  font-family: "Orbitron", sans-serif;
}
#profession {
  font-size: 18px;
  margin: 10px;
  font-style: italic;
  font-family: "Orbitron", sans-serif;
}
#right {grid-area: right;}
#references .info {
  margin-bottom: 25px;
}
@media (max-width: 600px) {
  #resume {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
  #picture {
    position: relative;
    top: 75px;
  }
  #left {
    border-bottom-left-radius: 0;
  }
}